---
# Google C++ Style Guide compliant formatting
BasedOnStyle: Google

# Language
Language: Cpp
Standard: c++17

# Indentation (Google uses 2, but you prefer 4)
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 8

# Line length
ColumnLimit: 80

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  # C++ standard library
  - Regex:           '^<[a-z_]+>$'
    Priority:        1
  # C standard library
  - Regex:           '^<.*\.h>$'
    Priority:        2
  # External libraries
  - Regex:           '^<.*'
    Priority:        3
  # Project headers
  - Regex:           '".*"'
    Priority:        4

# Braces
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Pointers and References (Google style)
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements

# Other
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ReflowComments: true